<div class="columns is-centred">
  <div class="column is-2"></div>
  <div class="columns column is-8 is-centered" id="show-box">
      <img id="show-page-image" class="column is-8" src=" <%= image %> " alt="<%= description %>"/>
    <div class="column is-4">
      <div id="poster-show" class="columns">
        <figure class="image is-64x64">
          <img src="<%= addedBy.profilePicture %>" alt="profilePicture" class="is-rounded">
        </figure>
        <p class="column"><a href="/profile/<%= addedBy._id%>"><strong><%= addedBy.username %></strong></a></p>
        <p class="column" >following</p>
      </div>
      <div id="comments-section">
        <p id="show-page-description"> <%= description %></p>
        <% comments.forEach(comment => { %>
          <div class="columns is-multiline" style="padding: 1vh;">
            <div class="column is-12 columns is-marginless is-paddingless">
              <p class="column is-10 is-paddingless"><strong><%= comment.addedBy.username %></strong></p>
              <form class="column is-2 is-paddingless" method="POST" action="/photos/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
                <button>x</button>
              </form>
            </div>
            <div class="column is-12 is-paddingless">
              <p id="comment-p"><%= comment.comment %></p>
            </div>
          </div>
        <% }) %>
      </div>
      <% if (locals.isLoggedIn) { %>
        <div>
          <form method="POST" action="/photos/<%= _id %>/comments">
            <input class="textarea is-small" rows= "1" name="comment" placeholder="Press enter to post a comment..."></input>
            <input name="addedBy" type="hidden" value="<%= locals.currentUser._id%>"/>
          </form>
        </div>
        <div class="columns">
          <a class="column is-2" href="/photos/<%= _id %>/edit"><button>EDIT</button></a>
          <form class="column" action="/photos/<%= _id %>?_method=DELETE" method="post">
            <button>DELETE</button>
          </form>
        </div>
        <% } %>
      </div>
  </div>
  <div class="column is-2"></div>
</div>
