<div class="columns is-centred">
  <div class="column is-2"></div>
  <div class="columns column is-8 is-centered" id="show-box">
      <img id="show-page-image" class="column is-8" src=" <%= image %> " alt="<%= description %>"/>
    <div class="column is-4">
      <div id="poster-show" class="columns">
        <figure class="image is-64x64">
          <img src="<%= addedBy.profilePicture %>" alt="profilePicture" class="is-rounded">
        </figure>
        <p id="poster-title" class="column"><a href="/profile/<%= addedBy._id%>"><strong><%= addedBy.username %></strong></a></p>
      </div>
      <div id="comments-section">
        <p id="show-page-description"> <%= description %></p>
        <% comments.forEach(comment => { %>
          <div class="columns is-multiline comment">
            <div class="column is-12 columns is-marginless is-paddingless">
              <p class="column is-10 is-paddingless"><strong><%= comment.addedBy.username %></strong></p>
              <% if ((locals.currentUser._id).toString() === (comment.addedBy._id).toString() || locals.currentUser.admin === true) { %>
              <form class="column is-2 is-paddingless" method="POST" action="/photos/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
                <button>x</button>
              </form>
              <% } %>
            </div>
            <div class="column is-12 is-paddingless">
              <p id="comment-p"><%= comment.comment %></p>
            </div>
          </div>
        <% }) %>
      </div>
        <div>
          <form method="POST" action="/photos/<%= _id %>/comments">
            <input class="textarea is-small" rows= "1" name="comment" placeholder="Press enter to post a comment..."></input>
            <input name="addedBy" type="hidden" value="<%= locals.currentUser._id%>"/>
          </form>
        </div>
        <% if (likedBy.filter(id => id.toString() === locals.currentUser._id.toString()).length) {%>
          <div class="columns">
            <div class="column is-2">
              <form class="" action="/photos/<%= _id %>/unlike" method="post">
                <input type="hidden" name="likedBy" value="<%= locals.currentUser._id%>">
                <button class="unlike-button"><i class="fas fa-heart"></i></button>
              </form>
            </div>
            <div class="column is-10">
              <p class="like-count"><%= numberOfLikes %> Likes</p>
            </div>
          </div>
        <% } else { %>
          <div class="columns">
            <div class="column is-2">
              <form class="" action="/photos/<%= _id %>/likes" method="post">
                <input type="hidden" name="likedBy" value="<%= locals.currentUser._id%>">
                <button class="like-button"><i class="far fa-heart"></i></button>
              </form>
            </div>
            <div class="column is-10">
              <p class="like-count"><%= numberOfLikes %> Likes</p>
            </div>
          </div>
        <% } %>
        <% if ((locals.currentUser._id).toString() === (addedBy._id).toString() || locals.currentUser.admin === true) { %>
          <div class="columns" style="margin-top: 0.5vh;">
            <a class="column is-6" href="/photos/<%= _id %>/edit"><button class="button is-rounded" >EDIT POST</button></a>
            <form class="column is-6" action="/photos/<%= _id %>?_method=DELETE" method="post">
              <button class="button is-rounded">DELETE POST</button>
            </form>
          </div>
        <% } %>
      </div>
  </div>
  <div class="column is-2"></div>
</div>
