<% if (locals.isLoggedIn) { %>
  <div class="columns">
    <div class="column is-2"></div>
    <div class="columns column is-7 is-multiline">
      <div class="column is-2"></div>
      <div class="columns column is-8 is-multiline">
      <% following.forEach(profile => {%>
          <% profile.addedPhotos.forEach(photo => { %>
            <div class="columns is-multiline" style="background-color: white; margin: 3vh 0;">
              <div class="columns column is-12">
                <div class="column is-3">
                  <figure class="image is-64x64">
                    <img class="is-rounded" src="<%= profile.profilePicture %>" alt="Profile Picture">
                  </figure>
                </div>
                <div class="column is-9">
                  <%= profile.username %>
                </div>
              </div>
              <div class="column is-12">
                <div class="picture">
                  <a href="/photos/<%= photo._id %>" >
                    <img src=" <%= photo.image %> " alt="<%= photo.description %>" />
                  </a>
                </div>
              </div>
              <div class="column is-12">
                <%# comments go here %>
              </div>
            </div>
          <% }) %>
      <% })%>
      </div>
      <div class="column is-2"></div>
    </div>
    <div class="column is-2">
      <figure class="image">
        <img class="is-rounded" src="<%= locals.currentUser.profilePicture%>" alt="Profile Picture">
      </figure>
      <p class="title">Welcome back <%= locals.currentUser.username %></p>
    </div>
    <div class="column is-1"></div>
  </div>
<% } else { %>
  <p>Log in to get full access to this app</p>
<% }%>
