<% if (locals.isLoggedIn) { %>
  <div class="columns">
    <div class="column is-2"></div>
    <div class="columns column is-7 is-multiline">
      <div class="column is-2"></div>
      <div class="columns column is-8 is-multiline">
        <% if (following.length === 0){ %>
          <h1 class="title center-text">Click the compass to find someone to follow</h1>
        <% } %>
        <% following.forEach(photo => {%>
          <div class="columns is-multiline" id="picture-container">
            <div class="columns column is-12 is-marginless is-paddingless">
              <div class="column is-2 is-paddingless">
                <figure class="image is-64x64">
                  <img class="is-rounded profile-icon" src="<%= photo.addedBy.profilePicture %>" alt="Profile Picture">
                </figure>
              </div>
              <div class="column is-10 is-paddingless">
                <a href="/profile/<%= photo.addedBy._id %>">
                  <p class="title" id="picture-title"><%= photo.addedBy.username %></p>
                </a>
              </div>
            </div>
            <div class="column is-12">
              <div class="picture">
                <a href="/photos/<%= photo._id %>" >
                  <img src=" <%= photo.image %> " alt="<%= photo.description %>" />
                </a>
                <div class="hover-box columns">
                  <p class="column is-6"><i class="fas fa-heart"></i> <%= photo.numberOfLikes%></p>
                  <p class="column is-6"><i class="fas fa-comment"></i> <%= photo.comments.length %></p>
                </div>
              </div>
            </div>
            <% if (photo.likedBy.filter(id => id.toString() === locals.currentUser._id.toString()).length) {%>
              <div class="columns column is-12 is-marginless is-paddingless">
                <div class="column is-1">
                  <form class="" action="/feed/<%= photo._id %>/unlike" method="post">
                    <input type="hidden" name="likedBy" value="<%= locals.currentUser._id%>">
                    <button class="unlike-button"><i class="fas fa-heart"></i></button>
                  </form>
                </div>
                <div class="column is-11">
                  <p class="like-count"><%= photo.numberOfLikes %> <% if(parseInt(photo.numberOfLikes) === 1){%> Like <%} else { %> Likes <% } %></p>
                </div>
              </div>
            <% } else { %>
              <div class="columns column is-12 is-marginless is-paddingless">
                <div class="column is-1">
                  <form class="" action="/feed/<%= photo._id %>/likes" method="post">
                    <input type="hidden" name="likedBy" value="<%= locals.currentUser._id%>">
                    <button class="like-button"><i class="far fa-heart"></i></button>
                  </form>
                </div>
                <div class="column is-11">
                  <p class="like-count"><%= photo.numberOfLikes %> <% if(parseInt(photo.numberOfLikes) === 1){%> Like <%} else { %> Likes <% } %></p>
                </div>
              </div>
            <% } %>
            <div class="column is-12 is-marginless is-paddingless">
              <p class="picture-by"><strong><%=photo.addedBy.username%></strong> - <%= photo.description %></p>
            </div>
            <div class="column is-12" id="comment-container">
              <% photo.comments.forEach(comment => { %>
                <div class="columns is-multiline comment">
                  <div class="column is-12 columns is-marginless is-paddingless">
                    <p class="column is-12 is-paddingless"><strong><%= comment.addedBy.username %></strong></p>
                  </div>
                  <div class="column is-12 is-paddingless">
                    <p id="comment-p"><%= comment.comment %></p>
                  </div>
                </div>
              <% }) %>
            </div>
          <div class="column is-12">
            <form method="POST" action="/feed/<%= photo._id %>/comments">
              <input class="textarea is-small" rows= "1" name="comment" placeholder="Press enter to post a comment..."></input>
              <input name="addedBy" type="hidden" value="<%= locals.currentUser._id%>"/>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="column is-2"></div>
    </div>
    <div class="column is-2">
      <figure class="image">
        <img class="is-rounded" src="<%= locals.currentUser.profilePicture%>" alt="Profile Picture">
      </figure>
      <p class="title center-text">Welcome back <%= locals.currentUser.name %></p>
    </div>
    <div class="column is-1"></div>
  </div>
<% } else { %>
  <div class="columns">
    <div class="column"></div>
    <div class="column welcome">
      <p class="title">Welcome to Fredstagram</p>
      <p class="title is-4">Log in to get access to this app</p>
    </div>
    <div class="column"></div>
  </div>
<% }%>
